@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&family=Inter:wght@200;300&family=Josefin+Sans:wght@600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&family=Montserrat:wght@700&family=Noto+Sans:ital,wght@0,700;1,400&family=Poppins:wght@200;400&family=Quintessential&family=Raleway:wght@200;300&family=Roboto+Mono:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}



.navContainer{
  width: 5vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 10;
  border-right: 0.25px solid rgba(128, 128, 128, 0.192);
  font-family: "Raleway", "Lora", sans-serif;
  filter: drop-shadow(0px 3px 3px rgba(128, 128, 128, 0.4));
  justify-content: space-around;
}
.navBasics,.navLinks{
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navLogos{
  width: 30px;
  cursor: pointer;
}

.bodyContainer{
  width: 95vw;
  min-height: 100vh;
}

@media screen and (min-width: 721px){
  .bodyContainer{
    margin-left: 5vw;
  }
}

@media screen and (max-width: 720px) {
  .navContainer{
    filter: drop-shadow(-3px 0px 3px rgba(128, 128, 128, 0.4));
    top: 92vh;
    width: 100%;
    height: 8vh;
  }
  .navContainer,.navBasics,.navLinks{
    flex-direction: row;
    align-items: center ;
  }
  .navBasics a{
    display: flex;
    align-items: center;
  }
  .navLinks,.navBasics{
    width: 30%;
  }
  .navLogos{
    width: 25px;
    cursor: pointer;
  }
  .navContainer.dark{
    filter: drop-shadow(-3px 0px 5px rgba(10, 10, 10));
  }
}

/* dark mode */
.dark {
  background: rgb(27, 27, 27);
  color: white;
}
.navContainer.dark{
  filter: drop-shadow(0px 3px 5px rgba(10, 10, 10));
  border: none;
}

@media screen and (max-width: 720px) {
  .navContainer.dark{
    filter: drop-shadow(-3px 0px 5px rgba(10, 10, 10));
  }
}