@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200;300&family=Inter:wght@200;300&family=Josefin+Sans:wght@600&family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,500;1,700&family=Montserrat:wght@700&family=Noto+Sans:ital,wght@0,700;1,400&family=Poppins:wght@200;400&family=Quintessential&family=Raleway:wght@200;300&family=Roboto+Mono:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root{
  --var-primary:rgb(255, 9, 103);
  --var-card-dark:rgb(27,27,27);
  --var-dark-back:rgb(8,8,8);
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 9, 103);
  border-radius:8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;

}


/* nav bar */
.navContainer{
  width: 5vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 10;
  border-right: 0.25px solid rgba(128, 128, 128, 0.192);
  font-family: "Raleway", "Lora", sans-serif;
  filter: drop-shadow(0px 3px 3px rgba(128, 128, 128, 0.4));
  justify-content: space-around;
}
.navBasics,.navLinks{
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.navLogos{
  width: 30px;
  cursor: pointer;
}
/* nav bar */

.bodyContainer{
  padding: 15px 18px;
  width: 90vw;
  min-height: 100vh;
}

/*  */

/* MicroBlog */

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 35vh;
}
.microarticle>*{
  margin: 8px 0px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.container .page-heading-container {
  display: none;
}

.container.Micro {
  text-decoration: none;
  color: black;
  cursor: default;
}

.MicroBlog {
  filter: drop-shadow(0px 2px 5px rgba(128, 128, 128, 0.285));
  margin-top: 15px;
  background-color: white;
  width: 65vw;
  padding: 10px 25px;
  padding-bottom: 35px;
  border-bottom: 0.5px solid rgb(80, 80, 80);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.MicroBlog-top {
  display: flex;
  justify-content: left;
  align-items: baseline;
  margin-top: 25px;
  padding: 0;
}
.BlogContainer {
  background: white;
}
.MicroBlog:hover,
.BlogContainer:hover {
  filter: drop-shadow(0px 2px 5px rgba(128, 128, 128, 0.485));
}

.tags {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
}

.Name,
.Date,
.tagContent {
  font-family: "Roboto Mono", "Inter", "Poppins", "IBM Plex Sans Thai looped",
    sans-serif;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  font-weight: 400px;
  color: rgb(50, 50, 50);
}
.MicroBlog-title,
.BlogContainer h3 {
  color: rgb(255, 9, 103);
  text-transform: capitalize;
}
.tagContent {
  background-color: rgb(226, 231, 231);
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 10px;
  font-family: "Roboto Mono", "Inter", "Poppins", "Lora";
}
.Date {
  font-family: "Roboto Mono", "Inter";
  font-weight: 200px;
}

.MicroBlog img {
  padding: 20px;
  margin: 20px;
  max-width: 300px;
}
.likes {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
}

.likes img {
  width: 25px;
  padding: 8px;
  margin: 0;
  padding-left: 0;
}

.Loading {
  font-family: "Roboto Mono", "Inter", "Poppins", "Lora";
  font-weight: 200;
}

article {
  text-align: justify;
}

/* MicroBlog */


@media screen and (min-width: 721px){
  .bodyContainer{
    margin-left: 5vw;
  }
}

@media screen and (max-width: 720px) {
  .navContainer{
    filter: drop-shadow(-3px 0px 3px rgba(128, 128, 128, 0.4));
    top: 92vh;
    width: 100%;
    height: 8vh;
  }
  .navContainer,.navBasics,.navLinks{
    flex-direction: row;
    align-items: center ;
  }
  .navBasics a{
    display: flex;
    align-items: center;
  }
  .navLinks,.navBasics{
    width: 30%;
  }
  .navLogos{
    width: 25px;
    cursor: pointer;
  }
  .navContainer.dark{
    filter: drop-shadow(-3px 0px 5px rgba(10, 10, 10));
  }

  .MicroBlog{
    flex-direction:column ;
  }
}

/* dark mode */
.dark {
  background: rgb(18, 18, 18);
  color: white;
}
.navContainer.dark{
  filter: drop-shadow(0px 3px 8px rgba(1, 1, 1));
  border: none;
  background: rgb(27, 27, 27);
}
.cardContainer.dark{
  background-color: rgb(27, 27, 27);
  font-family: "Roboto Mono", "Inter", "Poppins", "IBM Plex Sans Thai looped";
  margin-right: 15px;
  font-weight: 400px;
  color: rgb(214, 214, 214);
}
.MicroBlog.dark{
  filter: drop-shadow(0px -2px 8px rgb(8, 8, 8,0.5));
  background-color: rgb(27, 27, 27);
}
.MicroBlog.dark .tagContent{
  font-family: "Roboto Mono", "Inter", "Poppins", "IBM Plex Sans Thai looped";
  margin-right: 15px;
  font-weight: 400px;
}
.dark .Name,
.dark .Date {
  font-family: "Roboto Mono", "Inter", "Poppins", "IBM Plex Sans Thai looped";
  margin: 0;
  padding: 0;
  margin-right: 15px;
  font-weight: 400px;
  color: rgb(214, 214, 214);
}
.MicroBlog.dark:hover,
.BlogContainer.dark:hover,
.Form-con.dark .Form,
.DashBoard.dark {
  filter: drop-shadow(0px -2px 8px rgb(8, 8, 8));
}

@media screen and (max-width: 720px) {
  .navContainer.dark{
    filter: drop-shadow(-3px 0px 5px rgba(10, 10, 10));
  }
}